<%= simple_form_for :pokemon, :url => create_path do |f| %>
  <%= f.input :name, label: "Pokemon's name: ", error: 'No empty name' %>
  <%= f.collection_radio_buttons(
    :ndex, (1..649).map {|ndex| [ndex, ndex]}, :first, :last
  ) do |b| %>
  <div class="pokemon-choice-container">
    <%= b.label { image_tag("pokemon/#{b.text}.png") + b.radio_button } %>
  </div>
  <% end %>
  <%= f.button :submit, 'Create New Pokemon' %>
<% end %>
